
.navber {
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 999;
  background-color: #7cdabf;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);

}
.navber .logo h1{
  color: #424144;
  border-bottom: 4px solid #1f8efd;
}
.navber .menu li {
  list-style: none;
  display: inline-block;
}
.navber .menu li a {
  display: block;
  margin-left: 25px;
  color: #424144;
  border-bottom: 4px solid transparent ;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}
.navber .menu li .active {
  border-bottom: 4px solid #1f8efd;
}
.navber .menu li a i {
  color: #060606;
}
.navber .menu li a:hover {
  border-bottom: 5px solid #38792c;
}